@{
    ViewData["Title"] = "Profile";
}
<h1>@ViewBag.showUser.FirstName @ViewBag.showUser.LastName</h1>
<h4>Registered at: @ViewBag.showUser.CreatedAt</h4>
<h4>User Id: @ViewBag.showUser.UserId</h4>
<h4>Email Address: @ViewBag.showUser.Email</h4>
<h4>Description: @ViewBag.showUser.Description</h4>
<h1>Leave a Message for @ViewBag.showUser.FirstName</h1>
@model the_wall.Models.MessageViewModel
<form asp-controller="Dashboard" asp-action="PostMessage" method='POST'>
    <div class="form-group">
        <span asp-validation-for="messageText"></span>
        <input class="form-control" type="textarea" asp-for="messageText">
    </div>
    <button type="submit" class="btn btn-primary">Post a message</button>
</form>
<div class="message_board">
    @{
        foreach (var message in ViewBag.allMessages)
        {
            <h4>@message.MessagePoster.FirstName @message.MessagePoster.LastName - @message.CreatedAt</h4>
            <p>@message.MessageText</p>
            @if(message.UserId == ViewBag.activeUser)
            {
                <form action="DeleteMessage/@message.MessageId" method="POST">
                    <button type="submit" class="btn btn-primary">Remove</button>
                </form>
            }
            @foreach (var comment in ViewBag.allComments)
            {
                if(comment.MessageId == message.MessageId)
                {
                    <h4 class="comment">@comment.CommentPoster.FirstName @comment.CommentPoster.LastName - @comment.CreatedAt</h4>
                    <p class="comment">@comment.CommentText</p>
                }
            }
            <form action="PostComment/@message.MessageId" method='POST'>
                <div class="form-group">
                    <input class="form-control" type="textarea" asp-for='commentText'>
                </div>
                <button type="submit" class="btn btn-primary">Post a comment</button>
            </form>
        }
    }
</div>