@{
    ViewData["Title"] = "DashBoard";
}
<h1>All Users</h1>
@{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>User Level</th>
                @if(ViewBag.ActiveUserId == 1)
                {
                    <th>Actions</th>
                }
            </tr>
        </thead>
        <tbody>
        @foreach(var user in ViewBag.allUsers)
        {
            <tr>
                <td>@user.UserId</td>
                <td><a href="users/show/@user.UserId">@user.FirstName @user.LastName</a></td>
                <td>@user.Email</td>
                <td>@user.CreatedAt</td>
                @if(@user.Level == 1)
                {
                    <td>Admin</td>
                }
                else
                {
                    <td>Normal</td>
                }
                @if(ViewBag.ActiveUserId == 1)
                {
                    <td><a href="edit/@user.UserId">Edit</a> | <a href="delete/@user.UserId">Remove</a></td>
                }
            </tr>
        }
        </tbody>
    </table>
    @if(ViewBag.ActiveUserId == 1)
        {
            <p><a href="/new">Add a new user</a></p>
        }
}